.tile.tile-wide, .tile.tile-double {
	width: 100%;
}

.col-tile {
	padding: 0;
}

.user .panel-body {
	padding: 0;
	border: 1px solid black;
}

.user .panel-body > img {
	width: 100%;
}

.tile.tile-normal {
	padding-top: 10px;
	height: 0 !important;
}