.tile.tile-wide, .tile.tile-double {
	width: 100%;
}

.col-tile {
	padding: 0;
}

.user .panel-body {
	padding: 0;
	border: 1px solid black;
}

.user .panel-body > img {
	width: 100%;
}

.user .panel {
	margin-bottom: 0;
}

.tile.tile-normal {
	padding-top: 10px;
	height: 0 !important;
	margin-bottom: 0;
}

tr.danger, tr.danger > td > a {
	color: white;
}

tr.info, tr.success, 
tr.success > td > a,
tr.info > td > a {
	color: white;
}

tr.success > td {
	color: white;
}