{% extends 'template.twig' %}
{% import 'component.twig' as component %}

{% block title %}Il y a une erreur !{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			{{ component.menu('efef') }}
		</div>
		<div class="col-md-9">
			{{ component.alert('danger', error, 'col-md-12') }}
		</div>
	</div>
{% endblock %}