{% extends 'template.twig' %}
{% import 'component.twig' as component %}
{% set uc = 'events' %}

{% block title %}Evénements{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 mb">
            {{ component.menu('events') }}
        </div>
        <div class="col-md-9">
            {% if filtered %}
                <h3>{{ filtered }}</h3>
            {% endif %}
            {% include 'table.events.twig' ignore missing %}
        </div>
    </div>
{% endblock %}