{% extends 'template.twig' %}
{% import 'component.twig' as component %}

{% block title %}Gestion des tickets{% endblock %}

{% block content %}
	<div class="row">
		{% if session.type %}
			<div class="col-md-3">
				{{ component.menu('tickets') }}
			</div>
			{% set size = 'col-md-9' %}
		{% else %}
			{% set size = 'col-md-10 col-md-offset-1' %}
		{% endif %}
		
		<div class="{{ size }}">
			{% if filtered %}
				<h3>{{ filtered }}</h3>
			{% endif %}
			{% include 'table.tickets.twig' ignore missing %}
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
    	$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
    </script>
{% endblock %}