<center><img src="https://i.imgur.com/kzj1x2Q.png"></center>

Bonjour<br>
Vous avez été désigné administrateur pour l'interface Oxford. <br>
Votre mot de passe pour vous connecter est : {{ datas.password }} <br>

Cordialement, l'équipe Oxford. <br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>

