<center><img src="https://i.imgur.com/kzj1x2Q.png"></center><br><br><br>

Bonjour {{ datas.nom|upper ~ ' ' ~ datas.prenom|capitalize }},<br>
Votre accès à l'entreprise à été réattribué par un RSSI ce qui veut dire que vous pouvez à nouveau vous authentifier. <br>
Votre accès peut-être révoqué à tout moment, vous recevrez un email vous avertissant dans ce cas. <br> 

Cordialement, l'équipe Oxford. <br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>

