<center><img src="https://i.imgur.com/kzj1x2Q.png"></center>

Bonjour<br>
Vous avez été désigné administrateur pour l'interface Oxford. <br>
Votre mot de passe pour vous connecter est : {{ datas.password }}

Cordialement, l'équipe Oxford.

<a href="https://bts-sio.lyc-bonaparte.fr">SIO Lycée Bonaparte, Toulon</a>

