<center><img src="https://i.imgur.com/kzj1x2Q.png"></center>

Bonjour,<br>
Votre code d'accès à été réinitialisé par un administrateur.<br>
Le voici : {{ datas.code }} <br>

Cordialement, l'équipe Oxford. <br>

<a href="https://bts-sio.lyc-bonaparte.fr">SIO Lycée Bonaparte, Toulon</a>

