<center><img src="https://i.imgur.com/kzj1x2Q.png"></center>

Bonjour {{ datas.nom|upper ~ ' ' ~ datas.prenom|capitalize }}, <br>
Votre profil à été supprimé par un RSSI, ce qui veut dire que vous ne pourrez plus vous authentifier.<br>
C'est une mesure de sécurité. <br>
Si vous pensez qu'il s'agit d'une erreur n'hésitez pas à vous adresser à un RSSI afin qu'il restaure votre profil et que vous puissiez vous authentifier à nouveau. <br>
Votre profil peut-être restauré à tout moment, vous recevrez un email vous avertissant dans ce cas. <br> 
Vous pourrez donc ainsi vous authentifier à nouveau. <br>

Cordialement, l'équipe Oxford/SIORECON.<br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>