<center><img src="https://i.imgur.com/kzj1x2Q.png"></center>

Bonjour {{ datas.nom|capitalize ~ ' ' ~ datas.prenom|upper }},<br>
Un compte vous à été créé pour accéder à l'intérieur de l'entreprise.<br>
Votre code d'accès : {{ datas.code }} <br>

Cordialement, l'équipe Oxford.<br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>

