<center><img src="https://i.imgur.com/kzj1x2Q.png"></center><br><br><br>

Bonjour {{ datas.nom|capitalize ~ ' ' ~ datas.prenom|upper }},<br>
Votre accès à l'entreprise à été révoqué par un RSSI ce qui veut dire que vous ne pourrez plus vous authentifier. <br>
C'est une mesure de sécurité. <br>
Si vous pensez qu'il s'agit d'une erreur n'hésitez pas à vous adresser à un RSSI afin qu'il réactive votre compte et que vous puissiez vous authentifier à nouveau.<br>
Votre accès peut-être réattribué à tout moment, vous recevrez un email vous avertissant dans ce cas. <br> 
Vous pourrez donc ainsi vous authentifier à nouveau. <br>

Cordialement, l'équipe Oxford. <br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>

